@use "../../abstracts/" as *;

.offer {
  margin-bottom: rem(32);

  &__link {
    @include text-link;
  }

  &__title {
    font-weight: $fw-bold;
    font-size: $font-base;
    margin: rem(15) 0 0 0;
  }

  &__label {
    font-size: $font-sm;
    font-weight: $fw-regular;
    margin: rem(6) 0 0 0;
  }
}
