@use "../../abstracts/" as *;

.price {
  &__current {
    font-size: $font-xxl;
    font-weight: $fw-bold;
    color: #282c3f;
    margin-right: rem(10);
  }
  &__before {
    font-size: $font-xl;
    font-weight: $fw-regular;
    color: #64656a;
  }
  &__discount {
    font-size: $font-xl;
    font-weight: $fw-bold;
    letter-spacing: 0.5px;
    color: #ff905a;
  }

  &__tax {
    margin: $space-1 0;
    font-size: $font-md;
    font-weight: $fw-bold;
    color: #03a685;
  }
}
