@use "../../abstracts/" as *;

.details {
  font-size: $font-base;

  &__text {
    margin: $space-1 0;
    font-weight: $fw-regular;
  }

  &__title {
    font-weight: $fw-bold;
    margin: $space-3 0 $space-2;
    font-size: $font-base;
  }
}

.specGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-2 $space-6;

  @include respond(tablet) {
    grid-template-columns: 1fr; // stack on tablet/mobile
    gap: $space-3;
  }
}

.specItem {
  padding-bottom: $space-2;
}

.specKey {
  font-size: $font-xs;
  color: #7e818c;
  margin: 0;
}

.specValue {
  color: #111;
  margin: $space-1 0 $space-2;
  font-size: $font-md;
}

.hr {
  @include hr;
}

.link {
  @include text-link;
}
