@use "../../abstracts/" as *;

.pdi {
  margin-bottom: rem(12);

  &__title {
    margin: 0;
    font-size: $font-xxl;
    font-weight: $fw-bold;

    @include respond(mobile) {
      font-size: $font-xl;
    }
  }

  &__name {
    @include heading-light;
    padding-bottom: $space-2;
  }

  &__rating {
    border: 1px solid #e0e0e0;
    display: inline-block;
    padding: rem(1) $space-2;
    border-radius: rem(2);

    p {
      margin: 0;
    }
  }

  &__rating-value {
    font-weight: $fw-bold;
    font-size: $font-base;
  }

  &__rating-icon {
    color: rgb(11, 141, 100);
    vertical-align: text-top;
    margin-left: rem(3);
  }

  &__divider {
    margin: 0 rem(4);
    color: $text-muted;
  }

  &__rating-text {
    color: $text-muted;
    font-size: $font-base;
    font-weight: $fw-regular;
  }
}
